.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(40, 40, 40, 0.2);
}

.themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wrapper {
    /*background-color: #f1f1f1;*/
    overflow: auto;
    position: absolute;
    top: 235px;
    bottom: 0;
    height: auto;
}

#output {
    line-height: 1.2;
    width: 1000px;
    overflow: auto;
}

#output-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

code {
    color: black;
}

h4 code {
    color: #991d92;
}

/* chess board */
.chessBoard {
    display: inline-block;
    border: 2px solid lightGray;
    overflow: auto;
}

.chessBoard div {
    line-height: 1px;
}

.chessBoard span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: snow;
}


/*spinner*/

@keyframes ldio-6rtrst5re4l {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ldio-6rtrst5re4l div {
    left: 43.5px;
    top: 4.5px;
    position: absolute;
    animation: ldio-6rtrst5re4l linear 0.6578947368421053s infinite;
    background: #539a55;
    width: 13px;
    height: 33px;
    border-radius: 6.5px / 16.5px;
    transform-origin: 6.5px 45.5px;
}

.ldio-6rtrst5re4l div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.6030701754385964s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.5482456140350876s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.49342105263157887s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.43859649122807015s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.3837719298245614s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.3289473684210526s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.2741228070175438s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.21929824561403508s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.1644736842105263s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.10964912280701754s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.05482456140350877s;
    background: #539a55;
}

.ldio-6rtrst5re4l div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #539a55;
}

.loadingio-spinner-spinner-e4l0gr1tas4 {
    width: 41px;
    height: 41px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: absolute;
    top: 0px;
}

.ldio-6rtrst5re4l {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.41);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-6rtrst5re4l div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */
